extends ../_component/layout/layout

block content
    h1.intro-text We're in these cities
    hr.emerald-hr
    br
    .city-pic-wrapper
        .city-card
            .berlin
            h1 Berlin
            .fk--users
                span 2300+ customers
            .fk--facebook
                a(href="#") FoodKoala Berlin
        .city-card
            .sydney
            h1.right Sydney
            .right-text
                .fk--users
                    span 3270+ customers
                .fk--facebook
                    a(href="#") FoodKoala Sydney
        .city-card
            .london
            h1.right London
            .right-text
                .fk--users
                    span 2940+ customers
                .fk--facebook
                    a(href="#") FoodKoala London
        .city-card
            .vienna
            h1.right Vienna
            .right-text
                .fk--users
                    span 2100+ customers
                .fk--facebook
                    a(href="#") FoodKoala Vienna
    br
    br
    .testimonials
    p.intro-text Testimonials
    hr.emerald-hr
    .testimonial-cards
        .testimonial-card
            p.card-body "I'm really happy with FoodKoala. I'll definitely order again!"
            .card-bottom
                .brianna-picture
                p Brianna Sturgess
        .testimonial-card
            p.card-body "FoodKoala impressed me on multiple levels. I love it!"
            .card-bottom
                .keira-picture
                p Keira Cartwright
        .testimonial-card
            p.card-body "I've gotten at least 40 times the value from FoodKoala! It's just what I was looking for and more."
            .card-bottom
                .ethan-picture
                p Ethan Tyler