@media (min-width: 1280px) {
    //- Nav menu
    .nav {
        display: flex;
    }

    .logo {
        background-image: url(/asset/image/food-koala-logo.png);
        background-size: cover;
        height: 120px;
        width: 120px;
        margin-top: 0.7rem;
        margin-left: 5rem;
    }

    .menu {
        display: flex;
        font-size: 0.5rem;
        margin-left: 15.5rem;

        a {
            color: black;
            text-decoration: none;
            margin-left: 0.7rem;

            &:hover {
                border-bottom: 2px solid $colour-emerald;
            }
        }
    }

    .text {
        color: white;
        text-transform: capitalize;
        font-size: 1.5rem;
        width: 40%;
        text-align: center;
        padding-top: 5rem;
        padding-left: 3rem;
    }
}