//- General
html,
body {
    height: 100%;
    font-family: 'Quicksand';
}

//- Responsiveness
@media screen and (min-width: 25em){
    html { font-size: calc( 16px + (24 - 16) * (100vw - 400px) / (800 - 400) ); }
}

//- Nav menu
.nav {
    display: flex;
}

.logo {
    background-image: url(/asset/image/food-koala-logo.png);
    background-size: cover;
    height: 80px;
    width: 80px;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.45rem;
    margin-left: 1rem;

    a {
        color: black;
        text-decoration: none;
        margin-left: 0.7rem;

        &:hover {
            border-bottom: 2px solid $colour-emerald;
        }
    }
}

//- Footer
.footer {
    background-color: $colour-mine-shaft;
    color: $colour-gray;
    font-size: 0.4rem;
    margin-top: 1rem;
    padding: 1.2rem;
    text-align: center;

    .fk--facebook,
    .fk--twitter,
    .fk--instagram {
        text-decoration: none;
        color: $colour-gray;
        font-size: 0.5rem;
        padding: 0.3rem;
    }

    .fk--facebook {
        &:hover {
            color: $colour-chambray;
            // color: $colour-emerald;
        }
    }

    .fk--twitter {
        &:hover {
            color: $colour-cerulean;
            // color: $colour-emerald;
        }
    }

    .fk--instagram {
        &:hover {
            color: $colour-medium-red-violet;
            // color: $colour-emerald;
        }
    }
}

//- Homepage picture
//- Parallax scrolling effect
.food-background {
    //- The image used
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('/asset/image/food-background.jpg');

    //- Full height
    height: 100%;

    //- Create the parallax scrolling effect
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text {
    color: white;
    text-transform: capitalize;
    font-size: 1.5rem;
    width: 70%;
    text-align: center;
    padding-top: 5rem;
    padding-left: 3rem;
}

//- Intro text
.intro-text {
    text-transform: capitalize;
    text-align: center;
    font-size: 0.8rem;
}

.emerald-hr {
    color: $colour-emerald;
    width: 5%;
}

.intro-body {
    font-size: 0.5rem;
    width: 50%;
    margin-left: 25%;
    margin-bottom: 1rem;
}

.homepage-icons {
    color: $colour-boulder;
    text-align: center;
    font-size: 0.4rem;
    text-transform: capitalize;
    display: flex;
    justify-content: center;

    .fk--calendar,
    .fk--clock,
    .fk--food {
        color: $colour-emerald;
        font-size: 1rem;
        margin-bottom: 0.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pick-recipe {
        width: 3.5rem;
        line-height: 0.6rem;
    }

    .delivery-date {
        width: 3.5rem;
        line-height: 0.6rem;
        margin-left: 1rem;
    }

    .cook {
        width: 3.5rem;
        line-height: 0.6rem;
        margin-left: 1rem;
    }
}

//- View our menu
.bg-food-img {
    //- The image used
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('/asset/image/casserole.jpg');
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;

    //- Create the parallax scrolling effect
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    a {
        text-decoration: none;
        color: white;

        &:hover {
            border: 3px solid $colour-emerald;
            border-radius: 5px;
            padding: 0.3rem;
            transition: all 0.5s ease-in-out;
        }
    }
}

//- Testimonials
.testimonial-cards {
    margin-right: 1.5rem;
}

.testimonial-card {
    font-size: 0.5rem;
    border: 1.5px solid $colour-emerald;
    border-radius: 5px;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

.card-body {
    text-align: center;
    font-size: 0.5rem;
    font-style: italic;
    margin-bottom: 0.5rem;
    padding: 1.5rem;
    height: 0.5rem;
    // width: 5rem;
}

.card-bottom {
    background-color: $colour-emerald;
    color: white;
    font-size: 0.5rem;
    text-align: center;
    padding: 0.5rem;
}

.brianna-picture {
    background-image: url(asset/image/brianna-sturgess.jpg);
    background-size: cover;
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 47%;
    margin-bottom: 0.5rem;
}

.keira-picture {
    background-image: url(asset/image/keira-cartwright.jpg);
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 47%;
    margin-bottom: 0.5rem;
}

.ethan-picture {
    background-image: url(asset/image/ethan-tyler.jpg);
    background-size: cover;
    border-radius: 50%;
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 47%;
    margin-bottom: 0.5rem;
}

//- Download the app
.download-body {
    text-align: center;
    font-size: 0.5rem;
    margin-bottom: 1rem;
}

.download {
    display: flex;
    justify-content: center;
}

.download-app {
    background-image: url('asset/image/download-app-store.png');
    background-size: cover;
    height: 32px;
    width: 108px;
}

.download-on-google {
    background-image: url('asset/image/download-app-android.png');
    background-size: cover;
    height: 32px;
    width: 91.7333px;
    margin-left: 0.3rem;
}


//- Weekly Menu
.recipe-cards-wrapper {
    margin-top: 1rem;

    a {
        text-decoration: none;
        color: black;
        font-size: 0.4rem;
        width: 436px;

        &:hover {
            color: $colour-emerald;
            transition: 0.4s;
        }
    }
}

.recipe-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.right-aligned {
    margin-left: 1rem;
}

//- Tags
.tags {
    display: flex;
}

.tag-right {
    margin-left: 1rem;
}

.tag,
.tag-right {
    color: $colour-flint;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $colour-wild-sand;
    height: 0.5rem;
    width: 3rem;
    padding: 0.2rem;
    margin-top: 0.2rem;
}

.tag-veg,
.tag-spicy {
    color: $colour-flint;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $colour-wild-sand;
    height: 0.5rem;
    width: 3rem;
    padding: 0.2rem;
    margin-top: 0.2rem;
    margin-left: 0.2rem;
}

//- Card one
.ab-pic {
    background-image: url(asset/image/asparagus-burger.jpg);
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
    height: 90px;
    width: 135px;
}

//- Card two
.dumplings-pic {
    background-image: url(asset/image/dumplings.jpg);
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
    height: 90px;
    width: 135px;
    margin-left: 1rem;
}

//- Card three
.cc-pic {
    background-image: url(asset/image/crispy-chicken-with-rice.jpg);
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
    height: 90px;
    width: 135px;
}

//- Card four
.salad-pic {
    background-image: url(asset/image/salad.jpg);
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
    height: 90px;
    width: 135px;
    margin-left: 1rem;
}

//- Card five
.ps-pic {
    background-image: url(asset/image/pumpkin-soup.jpg);
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
    height: 90px;
    width: 135px;
}

//- Card six
.sfn-pic {
    background-image: url(asset/image/stir-fry-noodles.jpg);
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
    height: 90px;
    width: 135px;
    margin-left: 1rem;
}

//- Card seven
.udon-pic {
    background-image: url(asset/image/udon.jpg);
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
    height: 90px;
    width: 135px;
}

//- Card eight
.tandoori-pic {
    background-image: url(asset/image/tandoori.jpg);
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
    height: 90px;
    width: 135px;
    margin-left: 1rem;
}

//- Card nine
.carbonara-pic {
    background-image: url(asset/image/carbonara.jpg);
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
    height: 90px;
    width: 135px;
}

//- Card ten
.gc-pic {
    background-image: url(asset/image/grilled-chicken.jpg);
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
    height: 90px;
    width: 135px;
    margin-left: 1rem;
}

//- Card eleven
.quiche-pic {
    background-image: url(asset/image/quiche.jpg);
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
    height: 90px;
    width: 135px;
}

//- Card twelve
.casserole-pic {
    background-image: url(asset/image/casserole.jpg);
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
    height: 90px;
    width: 135px;
    margin-left: 1rem;
}