extends ../_component/layout/layout

block content
    h1.intro-text Sign up!
    hr.emerald-hr
    .cards
        .card-one
            p Basic
        .card-two
            p Pro
        .card-three
            p Premium