extends ../_component/layout/layout

block content
    h1.intro-text Get Started
    hr.emerald-hr
    .cards
        .sign-card-one
            p.heading Basic
            p.emerald-text $17
            p per meal
            hr.mercury-hr
            .fk--check
                span 1 meal
            .fk--check
                span Order from 8AM to 11PM
            .fk--x
            .fk--x
            hr.mercury-hr
            a.sign-up-button(href="#") Sign up!
        br
        .sign-card-two
            p.heading Standard
            p.emerald-text $110
            p for a week
            hr.mercury-hr
            .fk--check
                span 1 meal everyday
            .fk--check
                span Order from 8AM to 11PM
            .fk--check
                span No delivery cost
            .fk--check
                span Order from Sunday to Saturday
            hr.mercury-hr
            a.sign-up-button(href="#") Sign up!
        br
        .sign-card-three
            p.heading Premium
            p.emerald-text $435
            p for a month
            hr.mercury-hr
            .fk--check
                span 1 meal everyday
            .fk--check
                span Order from 8AM to 11PM
            .fk--check
                span No delivery cost
            .fk--check
                span Order from Sunday to Saturday
            hr.mercury-hr
            a.sign-up-button(href="#") Sign up!
    br
    br
    p.intro-text Download the app!
    hr.emerald-hr
    p.download-body Download via:
    .download
        a(href="#")
            .download-app
        a(href="#")
            .download-on-google