footer
    .footer
        div Copyright &copy; 2019 - #{new Date().getFullYear()} FoodKoala
        br
        a.fk--facebook(href="#")
        a.fk--twitter(href="#")
        a.fk--instagram(href="#")