extends ../_component/layout/layout

block content
    h1.intro-text Our Weekly Menu
    hr.emerald-hr
    .recipe-cards-wrapper
        .recipe-cards
            .card-one
                .ab-pic
                a(href="#") Asparagus Burger
                .tags
                    .tag Vegetarian
            .card-two
                .dumplings-pic
                a.right-aligned(href="#") Dumplings
                .tags
                    .tag-right Vegan
                    .tag-veg Vegetarian
        .recipe-cards
            .card-three
                .cc-pic
                a(href="#") Crispy Chicken with Rice & Broccoli
                .tags
                    .tag Meat
            .card-four
                .salad-pic
                a.right-aligned(href="#") Salad
                .tags
                    .tag-right Vegan
                    .tag-veg Vegetarian
        .recipe-cards
            .card-five
                .ps-pic
                a(href="#") Pumpkin Soup
                .tags
                    .tag Vegetarian
            .card-six
                .ssn-pic
                a.right-aligned(href="#") Stir Fry Noodles
                .tags
                    .tag-right Prawns
        .recipe-cards
            .card-seven
                .udon-pic
                a(href="#") Udon
                .tags
                    .tag Vegetarian
            .card-eight
                .tandoori-pic
                a.right-aligned(href="#") Tandoori
                .tags
                    .tag-right Meat
                    .tag-spicy Spicy
        .recipe-cards
            .card-nine
                .carbonara-pic
                a(href="#") Carbonara
                .tags
                    .tag Vegetarian
            .card-ten
                .gc-pic
                a.right-aligned(href="#") Grilled Chicken
                .tags
                    .tag-right Meat
        .recipe-cards
            .card-eleven
                .quiche-pic
                a(href="#") Quiche
                .tags
                    .tag Vegetarian
            .card-twelve
                .casserole-pic
                a.right-aligned(href="#") Casserole
                .tags
                    .tag-right Vegetarian