extends ../_component/layout/layout

block content
    h1.intro-text Our Weekly Menu
    hr.emerald-hr
    .recipe-cards
        //- Card column one
        .recipe-card
            .card-one
                .quiche-pic
                a(href="#") Quiche
                .tag-veg Vegetarian
            .card-two
                .casserole-pic
                a(href="#") Casserole
                .tag-veg Vegetarian
        //- Card column two
        .recipe-card
            .card-three
                .tandoori-pic
                a(href="#") Tandoori
                span.tag Meat
                span.tag Spicy
            .card-four
                .pumpkin-soup-pic
                a(href="#") Pumpkin Soup
                .tag-veg Vegetarian
        //- Card column three
        .recipe-card
            .card-five
                .asparagus-burger-pic
                a(href="#") Asparagus Burger
                .tag-veg Vegetarian
            .card-six
                .udon-pic
                a(href="#") Udon
                .tag-veg Vegetarian
        //- Card column four
        .recipe-card
            .card-seven
                .grilled-chicken-pic
                a(href="#") Grilled Chicken
                .tag Meat
            .card-eight
                .salad-pic
                a(href="#") Salad
                span.tag Vegan
                span.tag-veg Vegetarian
        //- Card column five
        .recipe-card
            .card-nine
                .crispy-chicken-pic
                a(href="#") Crispy Chicken with Rice & Broccoli
                .tag Meat
            .card-ten
                .stir-fry-pic
                a(href="#") Stir Fry Noodles
                .tag Prawns
        //- Card column six
        .recipe-card
            .card-eleven
                .carbonara-pic
                a(href="#") Carbonara
                .tag-veg Vegetarian
            .card-twelve
                .dumplings-pic
                a(href="#") Dumplings
                span.tag Vegan
                span.tag-veg Vegetarian