extends ../_component/layout/layout

block content
    h1.intro-text Our Weekly Menu
    hr.emerald-hr
    .recipe-cards
        .recipe-card
            .card-one
                .quiche-pic
                h1 Vegetarian Quiche
                .tag Vegetarian
            .card-two
                .casserole-pic
                h1 Casserole
                .tag Vegetarian
            .card-three
                .pizza-pic
                h1 Triple Cheese Pizza
                .tag Meat
            .card-four
                .pumpkin-soup-pic
                h1 Pumpkin Soup
                .tag Vegetarian