extends _component/layout/layout

block content
    .food-background
        h1.text Order our choicest recipes today!
    br
    br
    p.intro-text Fresh ingredients to your door
    hr.emerald-hr
    p.intro-body Hi there! We're FoodKoala, your meal kit delivery service. We know that you constantly have a lot of things to do and don't have time to think about what's for dinner, so we've made it easier by sorting it out for you!
    .homepage-icons
        .pick-recipe
            span.fk--calendar
            p.pick-text Pick a recipe from the weekly menu
        .delivery-date
            span.fk--clock
            p.delivery-text Choose your delivery day
        .cook
            span.fk--food
            p.cook-text Cook with fresh ingredients
    br
    .bg-food-img
        a(href="/weekly-menu") View menu
    br
    .testimonials
        p.intro-text Testimonials
        hr.emerald-hr
        .testimonial-cards
            .testimonial-card
                p.card-body "I'm really happy with FoodKoala. I'll definitely order again!"
                .card-bottom
                    .brianna-picture
                    p Brianna Sturgess
            .testimonial-card
                p.card-body "FoodKoala impressed me on multiple levels. I love it!"
                .card-bottom
                    .keira-picture
                    p Keira Cartwright
            .testimonial-card
                p.card-body "I've gotten at least 40 times the value from FoodKoala! It's just what I was looking for and more."
                .card-bottom
                    .ethan-picture
                    p Ethan Tyler
    br
    br
    p.intro-text Download the app!
    hr.emerald-hr
    p.download-body Download via:
    .download
        a(href="#")
            .download-app
        a(href="#")
            .download-on-google